.footer {
    background-color: var(--color-footer);
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white);
}

.footer__links {
    color: var(--color-white);
}

.footer__links:hover {
    color: var(--color-primary-light);
}


.footer__section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    max-width: 30%;
}

.footer__linkItems {
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    min-width: 150px;
    text-align: center;
}

.footer__linkItems:hover {
    transform: translateY(1px);
}

.footer__linkInstagram {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
}

.footer__linkYoutube {
    background-color: #FF0000;
}

.footer__linkWhatsapp {
    background-color: #25D366;
}

.footer__linkGithub, .footer__linkLinkedin , .footer__linkToTop{
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
    text-decoration: none;
    margin-left: 5px;
}

.footer__linkGithub:hover, .footer__linkLinkedin:hover ,.footer__linkToTop:hover{
    color:var(--color-primary-light);
    border-bottom: 1px solid var(--color-primary-light);
}
