:root {
  /* --- Cores principais --- */
  --color-primary: #1E3A8A;      /* Azul profundo */
  --color-primary-light: #3B82F6;/* Azul mais claro para hover */
  --color-secondary: #E11D48;    /* Rosa/avermelhado para destaques */
  --color-accent: #F59E0B;       /* Dourado/mostarda (detalhes) */
  --color-white: #FFFFFF;
  --color-footer: #333333;

  /* --- Neutros --- */
  --color-bg: #F9FAFB;           /* Fundo geral */
  --color-surface: #FFFFFF;      /* Cards, modais */
  --color-text: #1F2937;         /* Texto principal */
  --color-text-light: #6B7280;   /* Texto secundário */
  --color-border: #E5E7EB;       /* Bordas sutis */

  /* --- Estados --- */
  --color-success: #10B981;
  --color-warning: #FBBF24;
  --color-error: #EF4444;
}


:root {
  /* Fonte */
  --font: 'Poppins', 'Segoe UI', sans-serif;


  /* Tamanhos */
  --fs-base: 1rem;    /* 16px */
  --fs-lg: 1.125rem;  /* 18px */
  --fs-xl: 1.25rem;   /* 20px */
  --fs-2xl: 1.5rem;   /* 24px */
  --fs-3xl: 2rem;     /* 32px */
  --fs-4xl: 2.5rem;   /* 40px */

  /* Pesos */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* Resets padrão */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
  font-size: var(--fs-base);
}

